html {
    font: 24px sans-serif;
    text-align: center;
    color: #222
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: teal;
}

pre {
    border: 2px solid goldenrod;
    padding: 1em;
    background-color: #f8f8f8;
}

header {
    padding: 3em 1em;
}

footer {
    padding: 1.5em;
}

.col {
    height: 4rem;
    border: 1px solid rgba(0, 0, 0, 0.075);
    vertical-align: middle;
    line-height: 4rem;
    background-color: gold;
}

.col:nth-of-type(2n) {
    background: goldenrod;
}
