html {
    font: 24px sans-serif;
    text-align: center;
}

body {
    margin: 0;
}

.col {
    height: 4rem;
    border: 1px solid rgba(0, 0, 0, 0.075);
    vertical-align: middle;
    line-height: 4rem;
    background-color: gold;
}

.col:nth-of-type(2n),
.row:nth-of-type(2n) > .col:nth-of-type(2n+1) {
    background: goldenrod;
}
